@import './colors';
@import './shared';

.options {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;

  @media (min-width: 800px) {
    width: 80%;
  }
  @media (min-width: 1000px) {
    width: 60%;
  }
  @media (min-width: 1400px) {
    width: 40%;
  }
  @media (min-width: 1600px) {
    width: 35%;
  }

  .title {
    margin-bottom: 1px;
  }

  .header {
    margin-left: 0;

    h1 {
      font-size: 24px;
      margin-top: 5px;
    }
  }

  .heading-1 {
    h2 {
      margin-bottom: 0;
      margin-top: 20px;
    }

    p {
      font-style: italic;
      margin-top: 0;
    }
  }

  .text-input {
    color: var(--contrast-color);
    padding: 5px;
    width: 45%;
  }
}

.blue-button {
  background-color: var(--background-color);
  border-color: var(--font-color);
  color: var(--font-color);
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px 10px;

  &:hover {
    background-color: var(--font-color);
    color: var(--background-color);
  }
}

.hover-label-container {
  .pointer {
    cursor: pointer;
  }

  .hover-label {
    display: none;
    font-weight: 500;
    margin-left: 5px;
  }

  &:hover > label {
    color: var(--hover-color);
  }

  &:hover > .hover-label {
    color: var(--font-color);
    display: inline;
  }
}
