@import './colors';
@import './shared';

.options {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 35%;

  .title {
    margin-bottom: 1px;
  }

  .header {
    margin-left: 0;

    h1 {
      font-size: 24px;
      margin-top: 5px;
    }
  }

  .heading-1 {
    h2 {
      margin-bottom: 0;
      margin-top: 20px;
    }

    p {
      font-style: italic;
      margin-top: 0;
    }
  }

  .text-input {
    width: 45%;
  }
}

.blue-button {
  background-color: $pure-white;
  border-color: $link-blue;
  border-radius: 3px;
  color: $link-blue;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px 10px;

  &:hover {
    background-color: $background-gray;
  }

  &:active {
    background-color: $link-blue;
    color: $pure-white;
  }
}

.hover-label-container {
  .hover-label {
    display: none;
    font-weight: 500;
    margin-left: 5px;
  }

  &:hover > label {
    color: $box-shadow-gray;
  }

  &:hover > .hover-label {
    color: $pure-black;
    display: inline;
  }

}
