@import './colors';

body { // TODO: remove
  background-color: transparent;
}

.popup {
  // background-color: white; // TODO: remove
  background-color: transparent;

  .group-container {
    margin-bottom: 20px;
    background-color: $gray;
    padding: 10px;

    .link-container {
      margin-bottom: 20px;
    }
  }
}

p {
  margin: 0;
}
