@import './colors';
@import './shared';

.popup {
  max-width: 500px;
  min-width: 300px;

  .header {
    margin-top: 20px;
  }

  p {
    margin-bottom: 1px;
    margin-top: 0;
  }

  .link-container {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
