body {
  background-color: var(--background-color);
  color: var(--font-color);
  margin: 10px;
}

a {
  color: var(--link-blue);
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  max-width: 490px;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
  }
}

.group-container {
  margin-bottom: 20px;
  padding: 5px 15px;
}

.link-in-text {
  font-size: 12px;
  margin-right: -3px;
  overflow: visible;
}
